@import '../../styles/effects.scss';

@include container;
@include container-absolute;

.sign-in {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
}

.sign-in__fields {
  margin-bottom: 40px;
}

.sign-in__fields > .textbox:not(:last-child) {
  margin-bottom: 20px;
}

.sign-in__loader {
  margin-bottom: 20px;
}
