input,
a {
  all: unset;
  box-sizing: border-box;
}

button {
  all: unset;
  box-sizing: border-box;
  color: inherit;
  width: 100%;
  text-align: center;
}

.textbox,
.button {
  font-size: 16px;
  font-weight: 400;
  padding: 11px;
}

.textbox {
  text-align: center;
  background: transparent;
  width: 100%;
  border-bottom: 2px solid var(--color-primary-dark);
  transition: border-color 0.3s;
}

.textbox--invalid.ng-touched {
  border-color: var(--color-error);
}

.textbox:active,
.textbox:focus,
.button:active,
.button:focus {
  border-color: var(--color-accent-dark);
}

.textbox::placeholder {
  color: var(--color-background-light);
  transition: color 0.2s;
}

.textbox:active::placeholder,
.textbox:focus::placeholder {
  color: var(--color-content);
}

.button {
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--color-accent-dark);
  border-radius: 50px;
  overflow: hidden;
  user-select: none;
}

.button::before {
  content: '';
  position: absolute;
  background: var(--gradient-h);
  transition: 0.2s;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  opacity: 0;
}

.button:hover::before {
  opacity: 1;
}

button#year-btn {
  text-align: center;
}

div.tui-autofill {
  border: none !important;
  background: transparent !important;
}

div.tui-autofill:after {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--color-primary-dark);
}

div.tui-autofill._focused::after {
  border-color: var(--color-accent);
}

div.t-item {
  transition: 0.3s;
}

label.t-placeholder {
  color: var(--color-background-light) !important;
  margin-bottom: 5px;
}
