<form class="sign-up" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="sign-up__fields">
    <input
      class="textbox"
      type="text"
      name="login"
      id="login"
      autocomplete="username"
      placeholder="Логин"
      formControlName="login"
      [ngClass]="{ 'textbox--invalid': form.controls.login.errors }"
    />
    <input
      class="textbox"
      type="password"
      name="pass"
      autocomplete="current-password"
      id="pass"
      placeholder="Пароль"
      formControlName="pass"
      [ngClass]="{ 'textbox--invalid': form.controls.pass.errors }"
    />
  </div>
  <div class="sign-up__fields">
    <input
      class="textbox"
      type="text"
      name="name"
      id="name"
      placeholder="Как вас зовут"
      formControlName="name"
      [ngClass]="{ 'textbox--invalid': form.controls.name.errors }"
    />
    <input
      class="textbox"
      type="text"
      name="surname"
      id="surname"
      placeholder="Ваша фамилия"
      formControlName="surname"
      [ngClass]="{ 'textbox--invalid': form.controls.surname.errors }"
    />
  </div>
  <div class="sign-up__fields">
    <input
      class="textbox"
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      formControlName="email"
      [ngClass]="{ 'textbox--invalid': form.controls.email.errors }"
    />
    <tui-input-date
      class="datebox"
      formControlName="birthday"
      id="birthday"
      [ngClass]="{ 'textbox--invalid': form.controls.birthday.errors }"
    >
      Дата рождения
      <input tuiTextfield />
    </tui-input-date>
  </div>
  <tui-loader
    class="sign-up__loader"
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="(isLoading$$ | async) || false"
  >
    <button class="sign-up__btn button" [disabled]="isLoading$$ | async">
      <span>Продолжить</span>
    </button></tui-loader
  >
</form>

<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Подтвердите пароль', size: 's' }"
  [(tuiDialog)]="showConfirmForm"
  title="Hi"
>
  <form
    class="sign-up__confirm"
    [formGroup]="confirmForm"
    (ngSubmit)="observer.complete()"
  >
    <input
      class="textbox"
      type="password"
      name="confirmPass"
      id="confirmPass"
      placeholder="Пароль"
      formControlName="confirmPass"
      [ngClass]="{ 'textbox--invalid': form.controls.email.errors }"
    />

    <button
      class="button"
      type="submit"
      (click)="confirmPass()"
      [disabled]="confirmForm.controls.confirmPass.errors"
    >
      <span>ОК</span>
    </button>
  </form>
</ng-template>
