<form [formGroup]="form" class="sign-up" (ngSubmit)="onSubmit()">
  <h2>Придумайте пароль</h2>
  <input
    class="textbox"
    type="password"
    name="pass"
    id="pass"
    placeholder="Пароль"
    formControlName="pass"
    [ngClass]="{ 'textbox--invalid': form.controls.pass.errors }"
  />
  <input
    class="textbox"
    type="password"
    name="confirmPass"
    id="confirmPass"
    placeholder="Повторите пароль"
    formControlName="confirmPass"
    [ngClass]="{ 'textbox--invalid': form.controls.confirmPass.errors }"
  />
  <tui-loader
    class="sign-up__loader"
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="(isLoading$$ | async) || false"
  >
    <button
      type="submit"
      class="sign-up__btn button"
      [disabled]="isLoading$$ | async"
    >
      Продолжить
    </button>
  </tui-loader>
</form>
