@import '../styles/effects.scss';

:host {
  position: relative;
}

.wrapper[data-loading='true'] tui-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main {
  @include container();

  display: grid;
  grid-template-areas: 'menu page';
  grid-template-columns: max-content 1fr;
  align-content: center;
}

@media only screen and (max-width: 576px) {
  main {
    display: flex;
    grid-gap: initial;
  }
}
