<tui-root
  class="root-wrapper"
  [attr.data-loading]="this.auth.$$isLoading | async"
>
  <spomen-header />
  @if ((this.auth.$$isLoading | async) && !this.config.$isRefusedPage()) {
    <tui-loader size="xxl" @inOut />
  } @else if (!this.config.$isRefusedPage()) {
    @if (this.auth.$isAuth()) {
      <div class="wrapper">
        <spomen-nav />
        <main [attr.nf]="this.config.$isNotFoundPage()">
          <router-outlet />
        </main>
      </div>
    } @else {
      <router-outlet />
    }
  }

  @if (this.config.$isRefusedPage()) {
    <spomen-oops @inOut />
  }
</tui-root>
