@import '../styles/effects.scss';

:host {
  position: relative;
}

.root-wrapper[data-loading='true'] tui-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  @include container();
}

main {
  width: 100%;
  z-index: -1;
}

main[nf='false'] {
  position: relative;
}

main[nf='true'] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
