@import '../../styles/effects.scss';

:host {
  @include page;

  display: grid;
  grid-template-areas: 'side info';
  grid-template-columns: max-content 1fr;
  grid-gap: 40px;


  padding-top: 20px;
}

.profile-info,
.profile-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-side {
  grid-area: side;
}

.profile-info {
  grid-area: info;
}

.profile-info__fullname {
  max-width: 95%;
  margin: 30px 0;
  font: var(--tui-font-heading-5);
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

.profile-info-row,
.profile-info-row__item {
  display: flex;
}

.profile-info-row {
  width: 99%;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.profile-info-row__item {
  justify-content: center;
  font: var(--tui-font-text-l);
  font-weight: 300;
  align-items: center;
  flex-wrap: wrap;
}

.profile-info-row__item > * {
  display: block;
  margin: 5px;
  text-align: center;
}

.profile-info-row__item > tui-svg {
  fill: var(--color-accent-dark);
}

.profile-info-row__item > span {
  padding: 5px 12px;
}

.profile-side__avatar {
  width: 200px;
  height: 200px;

  margin-bottom: 20px;

  @include avatarBorder(3px);
}

.profile-side__avatar[data-edit='true'] {
  position: relative;
  cursor: pointer !important;
}

.profile-side__avatar[data-edit='true']::after {
  content: 'Изменить';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: -5px;
  bottom: -5px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  letter-spacing: 0.2rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-side__avatar[data-edit='true']:hover::after {
  opacity: 1;
}

.profile-side__username {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  max-width: 150px;
  font: var(--tui-font-text-m);
}

.profile-side__roles {
  user-select: none;
}

.profile-side__roles > *:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .profile-side__avatar {
    width: 150px;
    height: 150px;
  }

  .profile-info__fullname {
    margin: 20px 0 30px;
    font: var(--tui-font-heading-6);
    font-weight: 300;
  }

  .profile-info-row {
    max-width: 350px;
  }

  .profile-info-row__item {
    font: var(--tui-font-text-s);
  }
}

@media only screen and (max-width: 576px) {
  :host {
    margin-top: 20px;
    grid-template-areas:
      'side side'
      'info info';
    grid-gap: 10px;
  }

  .profile-side {
    flex-wrap: wrap;
  }

  .profile-side__avatar {
    flex-grow: 1;
  }
}
