<aside class="profile-side">
  <tui-avatar
    class="profile-side__avatar"
    [avatarUrl]="this.$avatar()"
    [tuiSkeleton]="this.$loading()"
    [text]="this.$profile().full_name || this.$profile().username || ''"
    size="xxl"
    [rounded]="true"
    [attr.data-edit]="this.$isMe() || this.auth.$isAdmin()"
    (click)="this.$isMe() || this.auth.$isAdmin() ? this.changeAvatar() : null"
  />
  @if (this.$loading()) {
    <span
      class="profile-side__username"
      style="width: 150px"
      [tuiSkeleton]="this.$loading()"
      >skeleton</span
    >
  } @else {
    <tui-line-clamp
      class="profile-side__username"
      [content]="this.$profile().username"
      [linesLimit]="1"
    />
  }
  <div class="profile-side__roles">
    @if (this.$loading()) {
      @for (skeleton of [1, 2]; track skeleton) {
        <tui-chip [tuiSkeleton]="this.$loading()" />
      }
    } @else {
      <tui-chip
        [attr.data-role]="role"
        *ngFor="let role of this.$$roles | async"
        >{{ this.serializeRole(role) }}</tui-chip
      >
    }
  </div>
</aside>
<div class="profile-info">
  @if (this.$loading()) {
    <span
      class="profile-info__fullname"
      style="width: 300px"
      [tuiSkeleton]="this.$loading()"
      >skeleton</span
    >
  } @else {
    <span class="profile-info__fullname">{{
      this.$profile().full_name || this.$profile().username || ''
    }}</span>
  }
  <div class="profile-info-row">
    <div
      class="profile-info-row__item"
      tuiHint="День рождения"
      [tuiHintShowDelay]="2000"
    >
      <tui-svg
        src="/images/cake.svg"
        [attr.data-fill-path]="true"
        [attr.data-fill]="true"
      />
      <span>{{
        this.$profile().birthday
          ? (this.$profile().birthday | date: 'd MMMM')
          : 'Не указан'
      }}</span>
    </div>
    <div class="profile-info-row__item" tuiHint="Пол" [tuiHintShowDelay]="2000">
      <tui-svg [src]="this.serializeSex(this.$profile().sex)" />
      <span>{{ this.$profile().sex | sex }}</span>
    </div>
  </div>
</div>
