@if (upload && !isLoading) {
  <div class="uploads-list-item" [attr.data-private]="this.isPrivate">
    <a
      [href]="upload.url"
      target="_blank"
      tuiHint="Открыть файл"
      [tuiHintShowDelay]="1000"
    >
      <tui-svg src="tuiIconFolderLarge"></tui-svg>
    </a>
    <div class="uploads-list-item__title">
      <tui-line-clamp
        (click)="this.handleClickUpload()"
        [linesLimit]="1"
        [content]="upload.name"
      >
      </tui-line-clamp>
      @if (this.isPrivate) {
        <tui-svg
          src="tuiIconLock"
          tuiHint="Личный файл"
          [tuiHintShowDelay]="1000"
        ></tui-svg>
      }
    </div>
    <div class="uploads-list-item__meta">
      <tui-line-clamp
        [linesLimit]="1"
        [content]="upload.file_name"
      >
      </tui-line-clamp>
    </div>
    <tui-chip
      class="uploads-list-item__ext"
      [attr.data-type]="'primary'"
      tuiHint="Выбрать тип"
      [tuiHintShowDelay]="1000"
      (click)="this.handleSelectExtension()"
    >{{ upload.ext }}
    </tui-chip
    >
    <a
      class="uploads-list-item__owner"
      [routerLink]="upload.owner ? '/' + upload.owner.username : null"
      [attr.data-system]="!upload.owner"
      tuiHint="Перейти к аккаунту"
      [tuiHintShowDelay]="1000"
    >
      <tui-avatar
        [avatarUrl]="
                upload.owner
                  ? upload.owner.avatar && upload.owner.avatar.url
                    ? upload!.owner!.avatar!.url
                    : upload!.owner!.vk_avatar
                  : null
              "
        [text]="
                upload.owner
                  ? upload!.owner!.first_name && upload!.owner!.last_name
                    ? upload!.owner!.first_name![0] +
                      '' +
                      upload!.owner!.last_name![0]
                    : upload!.owner!.username
                  : 'S'
              "
        [rounded]="true"
        size="s"
      />

      <tui-line-clamp
        [linesLimit]="1"
        [content]="
                upload.owner
                  ? upload!.owner!.first_name && upload!.owner!.last_name
                    ? upload!.owner!.first_name + ' ' + upload!.owner!.last_name
                    : upload!.owner!.username
                  : 'Система'
              "
      ></tui-line-clamp>
    </a>
    <span class="uploads-list-item__date">{{
        upload.created_at | date: 'd MMMM, YYYY г.'
      }}</span>
  </div>
} @else {
  <div class="uploads-list-item">
          <span [tuiSkeleton]="this.isLoading"
          ><tui-svg src="tuiIconFolderLarge"></tui-svg>
          </span>
    <tui-line-clamp
      [tuiSkeleton]="this.isLoading"
      class="uploads-list-item__title"
      [linesLimit]="1"
      content="loading"
    ></tui-line-clamp>
    <div class="uploads-list-item__meta">
      <tui-line-clamp
        [tuiSkeleton]="this.isLoading"
        [linesLimit]="1"
        content="loading"
      ></tui-line-clamp>
    </div>
    <tui-chip
      [tuiSkeleton]="this.isLoading"
      class="uploads-list-item__ext"
      [attr.data-type]="'primary'"
    >loading
    </tui-chip
    >
    <a class="uploads-list-item__owner">
      <tui-avatar
        avatarUrl="tuiIconUser"
        [rounded]="true"
        size="s"
        [tuiSkeleton]="this.isLoading"
      />

      <tui-line-clamp
        [linesLimit]="1"
        [tuiSkeleton]="this.isLoading"
        content="loading"
      ></tui-line-clamp>
    </a>
    <span class="uploads-list-item__date" [tuiSkeleton]="this.isLoading"
    >01.01.2001</span
    >
  </div>
}
