:host {
  display: block;
}

.uploads-list-item {
  cursor: pointer;
  display: grid;
  grid-template-columns:
    min-content 1fr max(10%, 100px) min(10%, 60px) max(15%, 150px)
    max(10%, 100px);
  grid-gap: 0 15px;
  transition: 0.2s;
}

.uploads-list-item__title {
  display: flex;
}

.uploads-list-item[data-private="true"] > .uploads-list-item__title > tui-svg {
  margin-left: 10px;
  opacity: 0.5;
}

.uploads-list-item:hover {
  transform: scale(1.01);
}

.uploads-list-item,
.uploads-list-item__owner,
.uploads-list-item__title{
  align-items: center;
}

.uploads-list-item__title,
.uploads-list-item__meta > *,
.uploads-list-item__owner > a > tui-line-clamp {
  max-width: 100%;
}

.uploads-list-item__meta {
  position: relative;
}

.uploads-list-item__owner {
  display: flex;
}

.uploads-list-item__owner > tui-avatar {
  margin-right: 10px;
  border: 1px solid transparent !important;
  background-image: var(--gradient-h) !important;
  background-origin: border-box !important;
}

.uploads-list-item__date--short {
  display: none;
}

.uploads-list-item__ext:hover {
  background-color: var(--tui-info-bg);
}

.uploads-list-item > button > tui-svg,
.uploads-list-item__title > tui-line-clamp,
.uploads-list-item__owner {
  transition: 0.2s;
}

.uploads-list-item > button:hover > tui-svg,
.uploads-list-item__title > tui-line-clamp:hover {
  color: var(--color-accent-dark);
}

.uploads-list-item__owner[data-system='false']:hover {
  color: var(--color-accent);
}

.uploads-list-item-preview__fail > tui-svg {
  margin-bottom: 15px;
}

@media only screen and (max-width: 992px) {
  .uploads-list-item {
    grid-template-columns: min-content 1fr min(10%, 60px) max(15%, 150px) max(10%, 100px);
  }

  .uploads-list-item__meta {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .uploads-list-item {
    grid-template-columns: min-content 1fr 50px 32px;
  }

  .uploads-list-item__meta,
  .uploads-list-item__owner > tui-line-clamp {
    display: none;
  }

  .uploads-list-item__date {
    display: none;
  }
}
