@if (upload && !isLoading) {
  <div class="uploads-list-item" [attr.data-private]="this.isPrivate">
    <button
      (click)="this.showPreview(actions)"
      tuiHint="Открыть файл"
      [tuiHintShowDelay]="1000"
    >
      <tui-svg src="tuiIconFolderLarge"></tui-svg>
    </button>
    <div class="uploads-list-item__title">
      <tui-line-clamp
        (click)="this.handleClickUpload()"
        [linesLimit]="1"
        [content]="upload.name"
      >
      </tui-line-clamp>
      @if (this.isPrivate) {
        <tui-svg
          src="tuiIconLock"
          tuiHint="Личный файл"
          [tuiHintShowDelay]="1000"
        ></tui-svg>
      }
    </div>
    <div class="uploads-list-item__meta">
      <tui-line-clamp
        [linesLimit]="1"
        [content]="upload.file_name"
      >
      </tui-line-clamp>
    </div>
    <tui-chip
      class="uploads-list-item__ext"
      [attr.data-type]="'primary'"
      tuiHint="Выбрать тип"
      [tuiHintShowDelay]="1000"
      (click)="this.handleSelectExtension()"
    >{{ upload.ext }}
    </tui-chip
    >
    <a
      class="uploads-list-item__owner"
      [routerLink]="upload.owner ? '/' + upload.owner.username : null"
      [attr.data-system]="!upload.owner"
      tuiHint="Перейти к аккаунту"
      [tuiHintShowDelay]="1000"
    >
      <tui-avatar
        [avatarUrl]="
                upload.owner
                  ? upload.owner.avatar && upload.owner.avatar.url
                    ? upload!.owner!.avatar!.url
                    : upload!.owner!.vk_avatar
                  : null
              "
        [text]="
                upload.owner
                  ? upload!.owner!.first_name && upload!.owner!.last_name
                    ? upload!.owner!.first_name![0] +
                      '' +
                      upload!.owner!.last_name![0]
                    : upload!.owner!.username
                  : 'S'
              "
        [rounded]="true"
        size="s"
      />

      <tui-line-clamp
        [linesLimit]="1"
        [content]="
                upload.owner
                  ? upload!.owner!.first_name && upload!.owner!.last_name
                    ? upload!.owner!.first_name + ' ' + upload!.owner!.last_name
                    : upload!.owner!.username
                  : 'Система'
              "
      ></tui-line-clamp>
    </a>
    <span class="uploads-list-item__date">{{
        upload.created_at | date: 'd MMMM, YYYY г.'
      }}</span>
  </div>
} @else {
  <div class="uploads-list-item">
          <span [tuiSkeleton]="this.isLoading"
          ><tui-svg src="tuiIconFolderLarge"></tui-svg>
          </span>
    <tui-line-clamp
      [tuiSkeleton]="this.isLoading"
      class="uploads-list-item__title"
      [linesLimit]="1"
      content="loading"
    ></tui-line-clamp>
    <div class="uploads-list-item__meta">
      <tui-line-clamp
        [tuiSkeleton]="this.isLoading"
        [linesLimit]="1"
        content="loading"
      ></tui-line-clamp>
    </div>
    <tui-chip
      [tuiSkeleton]="this.isLoading"
      class="uploads-list-item__ext"
      [attr.data-type]="'primary'"
    >loading
    </tui-chip
    >
    <a class="uploads-list-item__owner">
      <tui-avatar
        avatarUrl="tuiIconUser"
        [rounded]="true"
        size="s"
        [tuiSkeleton]="this.isLoading"
      />

      <tui-line-clamp
        [linesLimit]="1"
        [tuiSkeleton]="this.isLoading"
        content="loading"
      ></tui-line-clamp>
    </a>
    <span class="uploads-list-item__date" [tuiSkeleton]="this.isLoading"
    >01.01.2001</span
    >
  </div>
}

<ng-template #preview let-preview>
  <tui-preview [rotatable]="this.upload!.ext === 'webp'" [zoomable]="this.upload!.ext === 'webp'">
    <tui-preview-title class="t-preview-title">{{ this.upload!.file_name }}.{{ this.upload!.ext }}</tui-preview-title>
    <tui-preview-pagination
      [length]="1"
      [(index)]="index"
    ></tui-preview-pagination>
    <button
      tuiPreviewAction
      title="Удалить"
      (click)="delete()"
    >
      <tui-svg src="tuiIconTrash" />
    </button>
    <a
      [href]="this.upload!.url"
      target="_blank"
      tuiPreviewAction
      title="Скачать"

    >
      <tui-svg src="tuiIconDownload" />
    </a>
    <button
      title="Закрыть"
      tuiPreviewAction
      type="button"
      (click)="preview.complete()"
    >
      <tui-svg src="tuiIconClose" />
    </button>

    @switch (this.upload!.ext) {
      @case ('webp') {
        <img
          *polymorpheusOutlet="previewContent as src"
          [alt]="this.upload!.name"
          [src]="src"
        />
      }
      @case ('mpga') {
        <iframe
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          [src]="this.upload!.url ?? null | iframeUrl"
          class="content"
        ></iframe>
      }
      @default {
        <div class="t-container uploads-list-item-preview__fail">
          <tui-svg
            src="tuiIconFileLarge"
            class="t-icon"
          ></tui-svg>
          <div >Просмотр не поддерживается</div>
        </div>
      }
    }

  </tui-preview>
</ng-template>

<ng-template
  #actions
  let-content="content"
>
  <button
    tuiPreviewAction
    title="Удалить"
    (click)="delete()"
  >
    <tui-svg src="tuiIconTrash" />
  </button>
  <a
    [href]="content"
    tuiPreviewAction
    title="Скачать"

  >
    <tui-svg src="tuiIconDownload" />
  </a>
</ng-template>
