<tui-loader
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="this.isLoading()"
>
  <div class="upload-file-container" [attr.data-step]="this.currentStep" [attr.data-selected]="!!this.control.value">
    @switch (this.currentStep) {
      @case (1) {
        <ng-container [ngTemplateOutlet]="step1"/>
      }

      @case (2) {
        <div [formGroup]="this.fileForm" class="upload-file-info">
          <div class="upload-file-info__row">
            <tui-input-inline formControlName="name">
            </tui-input-inline>
            <tui-chip size="m">{{ this.fileForm.controls['ext'].value }}</tui-chip>
          </div>
          <div class="upload-file-info__row">
            <div class="upload-file-info__col">
              <div class="upload-file-toggle">
                <span>Сжать</span>
                <tui-toggle formControlName="compress" size="l"></tui-toggle>
              </div>
              <div class="upload-file-toggle">
                <span>Личный</span>
                <tui-toggle formControlName="private" size="l"></tui-toggle>
              </div>
            </div>
            <div class="upload-file-info__col">
              <button class="button" (click)="uploadFile()">
                <span>Загрузить</span>
              </button>
            </div>
          </div>
        </div>
      }

      @case (3) {
            <div class="upload-file-result__title">
              <tui-svg src="tuiIconCheckCircleLarge" />
              <span>Файл успешно загружен</span>
            </div>
            <div class="upload-file-result__grid">
              <tui-chip>Название</tui-chip>
              <tui-line-clamp [linesLimit]="1" [content]="this.uploaded() ? this.uploaded()!.name! : 'name'"/>
              <tui-chip>Файл</tui-chip>
              <tui-line-clamp [linesLimit]="1" [content]="this.uploaded() ? this.uploaded()!.file_name!+'.'+this.uploaded()!.ext! : 'file_name'" />
              <tui-chip>Ссылка</tui-chip>
              <a tuiLink [href]="this.uploaded() ? this.uploaded()!.url! : '#'" target="_blank">
              <tui-line-clamp [linesLimit]="1" [content]="this.uploaded() ? this.uploaded()!.url! : 'url'"/>
              </a>
            </div>
      }
      @default {
        <ng-container [ngTemplateOutlet]="step1"/>
      }
    }
  </div>
</tui-loader>

<ng-template #step1>
  <div class="upload-file-input">
    <tui-input-files
      *ngIf="!control.value"
      [formControl]="control"
      [maxFileSize]="100000000"
    >
      <input title="Выберите файл" tuiInputFiles />
    </tui-input-files>
    <tui-files class="tui-space_top-1">
      <tui-file
        *ngIf="control.valueChanges | async as file"
        [file]="file"
        (removed)="removeFile()"
      ></tui-file>
    </tui-files>
    @if (this.control.value) {
      <button class="button" [disabled]="!this.control.value" (click)="nextStep()"><span>Далее</span></button>
    }
  </div>
</ng-template>
