<tui-loader
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="this.isLoading()"
>
  <tui-input-files
    *ngIf="!control.value"
    [formControl]="control"
    [maxFileSize]="1048576"
  >
    <input accept="image/*" title="Выберите изображение" tuiInputFiles />
  </tui-input-files>

  <tui-files class="tui-space_top-1">
    <tui-file
      *ngIf="control.valueChanges | async as file"
      [file]="file"
      (removed)="removeFile()"
    ></tui-file>
  </tui-files>

  <div class="change-avatar-btns">
    <button
      class="change-avatar-btns__item button"
      (click)="this.changeAvatar()"
      [disabled]="!control.value"
    >
      <span>Обновить аватар</span>
    </button>

    @if (avatarAlreadyExists) {
      <button
        class="change-avatar-btns__item button"
        tuiHint="Удалить аватар"
        tuiHintDirection="top"
        [tuiHintShowDelay]="2000"
        (click)="this.removeAvatar()"
        [disabled]="control.value"
      >
        <tui-svg src="tuiIconTrash2" />
      </button>
    }
  </div>
</tui-loader>
